.idea/
*.iml
*.class
target/
.settings/
.metadata/
*.classpath
*.project
bc.zip
log.txt
*.ipr
*.iws
dependency-reduced-pom.xml
.pmdruleset.xml
.pmd
.checkstyle
bin/
kerby-dist/kdc-dist/logs/
kerby-dist/tool-dist/logs/
kerby-dist/kdc-dist/conf/krb5.conf
